<main class="container">
  <section class="banner">
    <img class="logo" src="../../../../assets/logo_header.png">
    <div class="text-banner">
      <h3>All About Data</h3>
      <h2>The Big Data revolution in your organization</h2>
      <p>Join the data revolution and accelerate the digital transformation of your business with Big Data, Artificial Intelligence, Machine Learning, and more.</p>
      <div class="back-button">
        <mat-icon>arrow_back</mat-icon>
        <button mat-button routerLink="/login">Voltar para Login</button>
      </div>
    </div>
  </section>
</main>
