<main>
  <h4>Cadastro de Usuário - <span class="supplier">Fornecedor</span></h4>
  <form class="form-container">
    <div class="input-field">
      <div class="form-title">Crie sua conta</div>
      <div class="input">
        <span>
          <img src="../../../../assets/location.png">
        </span>
        <mat-form-field>
          <label>
            <input type="text" matInput placeholder="Nome da sua Empresa">
          </label>
        </mat-form-field>
      </div>
      <div class="input">
        <span>
          <img src="../../../../assets/id-user.png">
        </span>
        <mat-form-field>
          <label>
            <input type="text" matInput placeholder="CNPJ da sua Empresa">
          </label>
        </mat-form-field>
      </div>
      <button type="button" mat-stroked-button>Cadastrar</button>
    </div>
  </form>
</main>
