<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="user_id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let user"> {{user.id}} </td>
  </ng-container>

  <ng-container matColumnDef="cooker_name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let supplies"> {{supplies.name}} </td>
  </ng-container>

  <ng-container matColumnDef="supplies_email">
    <th mat-header-cell *matHeaderCellDef> E-mail </th>
    <td mat-cell *matCellDef="let supplies"> {{supplies.email}} </td>
  </ng-container>

  <ng-container matColumnDef="supplies_id">
    <th mat-header-cell *matHeaderCellDef> Suprimentos </th>
    <td mat-cell *matCellDef="let supplies"> {{supplies.supplyes_options}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
