<main class="container">
  <section class="banner">
    <img class="logo" src="../../../../assets/logo_header.png">
    <h1 class="title">Faça seu Login na Plataforma</h1>
  </section>
  <form class="form-container">
    <div class="input-field">
      <div class="input-email">
        <mat-icon class="icon">email</mat-icon>
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input type="email" matInput placeholder="E-mail">
        </mat-form-field>
      </div>
      <div class="input-password">
        <mat-icon class="icon">lock</mat-icon>
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input type="password" matInput placeholder="Senha">
        </mat-form-field>
      </div>
      <button type="button" mat-stroked-button routerLink="/">Entrar</button>
      <span class="span-register"
        >Não tem uma conta? <a href="#" class="register-link" routerLink="/register">Registre-se</a></span
      >
    </div>
  </form>
</main>
