<form [formGroup]="myForm" class="form-container">
  <div class="input-field">
    <div class="form-title">Crie sua conta</div>
    <div class="input">
      <span>
        <mat-icon>email</mat-icon>
      </span>
      <mat-form-field>
        <label>
          <input
            type="email"
            matInput
            placeholder="E-mail"
            formControlName="email"
          >
        </label>
      </mat-form-field>
    </div>
    <div class="input">
      <span>
        <mat-icon>person</mat-icon>
      </span>
      <mat-form-field>
        <label>
          <input
            type="text"
            matInput
            placeholder="Seu nome"
            formControlName="name"
          >
        </label>
      </mat-form-field>
    </div>
    <div class="input">
      <span>
        <mat-icon>lock</mat-icon>
      </span>
      <mat-form-field>
        <label>
          <input
            type="password"
            matInput
            placeholder="Senha"
            formControlName="password"
          >
        </label>
      </mat-form-field>
    </div>
    <div class="input">
      <span>
        <mat-icon>lock</mat-icon>
      </span>
      <mat-form-field>
        <label>
          <input
            type="password"
            matInput
            placeholder="Confirme sua Senha"
            formControlName="confirmPassword"
            >
        </label>
      </mat-form-field>
    </div>
    <div class="input">
      <span>
        <img class="icon" src="../../../../assets/group.png" alt="image group">
      </span>
      <mat-form-field>
        <mat-label class="label">Seu Grupo</mat-label>
          <select [formControl]="groups">
            <option label="Seu Grupo"></option>
            <option *ngFor="let group of groupList" [value]="group">{{group}}</option>
          </select>
      </mat-form-field>
    </div>
    <button
      type="button"
      mat-stroked-button
      (click)="register()"
      >
      Próximo
    </button>
  </div>
</form>
