.sidenav {
  background-color: #1E1E1E;
  min-width: 10%;
  max-height: 100%;

  .nav-list {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;

    .user, .logout {
      box-sizing: border-box;
      border: 2px solid #00d698;
      border-radius: 8px;
      height: 111px;
      width: 88px;
      background-color: #121214;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }

    .user {
      margin-bottom: 40rem;
    }

    span {
      color: #fff;
      font-size: 13px;
      font-weight: 700;
      padding-top: 12%;
    }
  }
}

.content {
  padding: 29px;
  background-color: #1E1E1E;
}


