<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="104">
    <div class="nav-list">
      <div class="cards">
        <div class="nav-cards">
          <div class="user">
            <img src="../../../assets/users.png" alt="users-icon">
            <span>Usuario</span>
          </div>
          <div class="logout">
            <img src="../../../assets/logout.png" alt="logout-icon">
            <span>Sair</span>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <app-usergroup-list></app-usergroup-list>
  </mat-sidenav-content>
</mat-sidenav-container>
